.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
	text-transform: none;
}

.reveal section.full_video video {
	max-height: 100%;
	max-width: 100%;
}

.reveal section.full_video h1 {
	font-size: smaller;
}

.reveal section pre {
	width: 100%;
}

.fragment.practical {
	font-size: smaller;
	color: #99f;
}

.fragment.documentation {
	font-size: smaller;
}
